spring:
  application:
    name: holiday-service

  h2:
    console:
      enabled: true
      path: /h2-console

  jackson:
    serialization:
      write-dates-as-timestamps: false
    deserialization:
      fail-on-unknown-properties: false

# Swagger/OpenAPI
springdoc:
  api-docs:
    path: /api-docs
  default-consumes-media-type: application/json
  default-produces-media-type: application/json
  swagger-ui:
    path: /swagger.html
    operations-sorter: method

threads:
  virtual:
    enabled: true

# Logging
logging:
  level:
    com.planitsquare.holiday: DEBUG
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE
    org.springframework.jdbc: DEBUG
    org.springframework.jdbc.core: DEBUG